<div *ngIf="postData | async as postDetails">
    <h4>Post Details</h4>
    <ul class="list-group">
        <li class="list-group-item">
            <span>Id: <strong>{{postDetails.id}}</strong></span>
        </li>
        <li class="list-group-item">
            <span>Title: <strong>{{postDetails.title}}</strong></span>
        </li>
        <li class="list-group-item">
            <span>Description: <strong>{{postDetails.description}}</strong></span>
        </li>
        <li class="list-group-item">
            <button routerLink="/postne" class="btn btn-primary btn-sm">Back</button>
        </li>
      </ul>
      
</div>